<!doctype html>
<html lang="en">
  <head>
    <%= erb :'partials/meta' %>
    <link rel="stylesheet" href="https://unpkg.com/modern-css-reset/dist/reset.min.css">
    <style>
      <%= File.read("public/stylesheets/main.css") %>
    </style>
  </head>
  <body>
    <div class="wrapper">
      <main>
        <%= yield %>
      </main>
      <%= erb :'partials/footer' %>
    </div>
  </body>
</html>
