<h1><%= @page_heading %></h1>
<p>
  I've started this in order to better track what I've <a href="/videos">watched</a>, <a href="/books">read</a> and <a href="/podcasts">listened</a> to when it comes to tech and digital culture.
</p>
<p>There's nothing special here. Just a small and simple Ruby app built with help from Sinatra, that interfaces with a Postgres
  database, and is all hosted on Heroku.
</p>