<h1><%= @page_heading %></h1>
<p>
  I've started this in order to better track what I've <a href="/books">read</a> when it comes to tech and digital culture.
</p>
<p>
  In the future, I hope to keep track of all the podcasts, videos (conference talks, tutorials, courses) I've engaged with as well.
</p>
<p>
  Technically, this site itself is nothing special. Just a small and simple Ruby app built with help from Sinatra, that interfaces with a Postgres
  database, and is all hosted on Heroku.
</p>