<h1><%= @page_heading %></h1>
<p>
  I've started this in order to better track all the things I've <a href="/books">read</a>, watched, played and listened to.
</p>
<p>
  Technically, this site itself is nothing special. Just a small and simple Ruby app built with help from Sinatra, that interfaces with a Postgres
  database, and is all hosted on Heroku.
</p>