<div class="page-not-found">
  <h1>Oops</h1>
  <p>It looks like this page doesn't exist! If clicking on a link brought you here, then whoops. I should probably check that out.</p>
  <p>All I can say is, <a href="/">return home</a></p>
</div>
